*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  /* colors */
  --base-color: #fff;
  --background-main: #f5f5f5;
  --text-color: #312D64;
  --text-action: #B52184;
  --text-color-medium: #8D8D99;
}

html, body, input, textarea, button{
  font-family: "Mulish", sans-serif;
}

section, main,footer{
  padding-inline: 4rem;
}

.initial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

#astro{
  width: 36rem;
  height: 37rem;
  margin-bottom: 1.7rem;
}

#seta{
  width: 5.8rem;
  height: 10rem;
}

.initial .text{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
}
.text h1{
  color: var(--text-action);
  font-size: 3.2rem;
  font-weight: 900;
}
.text p{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

main{
  background-color: var(--text-color);
  padding: 5rem 4rem;
}

.card{
  background-color: var(--base-color);
  padding: 2.6rem;
  margin: 5rem 0 ;
  border-radius: 2rem;
}

.card img{
  margin-bottom: 2rem;
}

.card .title{
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-action);
  margin-bottom: 1rem;
}
.card .subtitle{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}

section.contact{
  padding: 8rem 4rem;
}
#background{
  visibility: hidden;
  display: none;
}

.block-info h2{
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--text-action);
  margin-bottom: 4rem;
}

form{
  display: grid;
}
.input, textarea, button{
  border-radius: 1.6rem;
}

.input{
  min-width: 35rem;
  padding: 1.6rem;
  border: var(--text-color) 2px solid;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
}

.input input{
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1rem;
}
::-webkit-input-placeholder {
  color: var(--text-color);
}

textarea{
  border: var(--text-color) 2px solid;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 35rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
}

button{
  width: 16rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 1.6rem;
  background-color: var(--text-color);
  color: var(--base-color);
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: #090731;
}

footer{
  background-color: var(--text-color);
  text-align: center;
  padding: 3.2rem 0 ;
  font-size: 2rem;
  color: var(--base-color);
}

@media(min-width: 70em){
  .initial, main{
    padding-inline: 10rem;
  }
  .initial {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #astro{
    width: 72rem;
    height: 73rem;
  }

  #seta{
    position: absolute;
    bottom: -22rem;
  }
  .initial .text{
    text-align: left;
  }
  .text h1{
    font-size: 5.8rem;
  }
  .text p{
    font-size: 3.2rem;
  }

  main{
    display: flex;
    gap: 6rem;
  }

  section.contact{
    position: relative;
  }

  #background{
    visibility: visible;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  form{
    margin-inline: 7rem;
  }

  form{
    max-width: 59rem;
  }
}